@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Kumbh Sans, Arial, Helvetica, sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

h1 {
  align-self: center;
  font-weight: 700;
  margin-top: 0;
}

hr {
  border: 0.7px solid hsl(240, 5%, 91%);
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  background-color: white;
  padding: 3rem;
  border-radius: 2rem;
  position: relative;
}

.sect-illustr {
  position: absolute;
  align-self: center;
  width: 70%;
  top: -8.7rem;
}

.background-illustr {
  align-self: center;
  width: 90%;
  position: relative;
  top: -3rem;
}

.faq_accordion {
  font-weight: 400;
  padding: 1.5rem 0;
}

.question {
  color: hsl(237, 12%, 33%);
  padding: 0;
  display: flex;

  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.question::after {
  content: url("./images/icon-arrow-down.svg");
  transition: transform 0.3s ease-out;
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.question.open {
  font-weight: 700;
}

.question.open::after {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-out;
}

.answer {
  color: hsl(240, 6%, 50%);
  opacity: 1;
  padding-top: 1em;
  line-height: 1.6em;
  position: relative;
  max-height: 500px;
  transition: max-height 0.3s ease-out, opacity 0.4s ease, padding 0.3s ease-out;
}

.answer.hidden {
  opacity: 0;
  padding: 0;
  max-height: 0;
  transition: max-height 0.2s ease-in-out, opacity 0.1s ease,
    padding 0.2s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  align-self: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
